.contact {
  &__button {
    color: white;
    font-size: medium;
    font-weight: 200;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
    i {
      font-size: 1rem;
      transition: 0.3s;
    }
    &:hover {
      i {
        transform: translate(0.25rem);
      }
    }
  }

  &__card {
    border: 1px solid rgba(212, 211, 211, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;

    &-icon {
      font-size: 2rem;
      margin-bottom: 0.25rem;
    }

    &-title,
    &-data {
      font-size: large;
      font-weight: 400;
    }

    &-data {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &__card-icon {
    font-size: 2rem;
    margin-bottom: 0.25rem;
  }

  &__button-icon {
    font-size: 1rem;
    transition: 0.3s;
  }

  .contact_container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;

    @media screen and (max-width: 992px) {
      column-gap: 3rem;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      column-gap: 3rem;
    }

    @media screen and (max-width: 576px) {
      .contact_info {
        grid-template-columns: 1fr;
      }

      .contact_form {
        width: 100%;
      }
    }

    @media screen and (max-width: 350px) {
      // Add specific styles for extra small devices if needed
    }
  }

  .contact_info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }

  .contact_form {
    width: 360px;
    margin: 0 auto;

    .contact_form-div {
      position: relative;
      margin-bottom: 2rem;
      height: 4rem;

      .contact_form-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(212, 211, 211, 0.1);
        background: none;
        outline: none;
        border-radius: 0.75rem;
        padding: 1.5rem;
        z-index: 1;
        color: aliceblue;

        &::placeholder {
          color: inherit;
        }
      }

      .contact_form-tag {
        position: absolute;
        top: -0.75rem;
        left: 1.25rem;
        font-size: medium;
        padding: 0.25rem;
        z-index: 10;
      }

      &-area {
        height: 11rem;

        textarea {
          resize: none;
        }
      }
    }
  }

  .contact_title {
    text-align: center;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .button {
    &.button_flex {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5rem;
    }

    &__icon {
      width: 24px;
      height: 24px;
      fill: none;
    }
  }
}

.section {
  &__title {
    font-size: 2rem;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
